PORT=3000
HOST="0.0.0.0"

DISCORD_TOKEN="TOKEN"
DISCORD_CLIENT_ID="ID"
DISCORD_CLIENT_SECRET="SECRET"
BACKEND_REDIS_HOST="redisapicache"
BACKEND_REDIS_PORT="6379"
DISCORD_CACHE_REDIS_PORT="6379"
DISCORD_CACHE_REDIS_HOST="redisgw"
DISCORD_INTERACTIONS_PUBLIC_KEY="PUBLIC_KEY"

BASE_API_URL="https://mytunnelurl.example.com"



DATABASE_URL="postgres://user:password@postgres/db"

PRISMA_FIELD_ENCRYPTION_KEY="SEE_README"


UUID_NAMESPACE="A_NAMESPACE"
COOKIE_SECRET="MYSECRET"

METRICS_AUTH_TOKEN="TOKEN"
